<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuit.exam.mapper.CourseMapper">

    <cache/>

    <sql id="query_course">
        <if test="cname != null">
            and cno = #{cno}
        </if>
        <if test="cname != null">
            and cname = #{cname}
        </if>
        <if test="type != 0">
            and type = #{type}
        </if>
    </sql>

    <select id="queryCourse" parameterType="cn.cuit.exam.bean.vo.CourseQuery" resultType="cn.cuit.exam.bean.Course">
        select c.cno, c.cname, c.type, SUM(s.num)
        FROM course_t c
        JOIN class_t s, teach_t t
        on c.cno = t.cno and s.cid = t.cid
        <where>
            <include refid="query_course"/>
        </where>

        <if test="sort != null and sort != ''">
            ORDER BY ${sort}
        </if>
        <if test="direction != null direction != ''">
            ${direction}
        </if>

        <trim prefix="limit " >
            <if test="pageNum != null, pageSize != null">
                #{pageNum}, #{pageSize}
            </if>
        </trim>
    </select>

    <select id="queryByCno" parameterType="java.lang.String" resultType="cn.cuit.exam.bean.Course">
        select cno, cname, type from course_t where cno = #{arg0}
    </select>

    <select id="queryByCname" parameterType="java.lang.String" resultType="cn.cuit.exam.bean.Course">
        select cno, cname, type from course_t where cname = #{arg0}
    </select>

    <select id="queryByType" parameterType="java.lang.Integer" resultType="cn.cuit.exam.bean.Course">
        select cno, cname, type from course_t where type = #{arg0}
    </select>

    <select id="QueryNumOfSelected" parameterType="java.lang.String" resultType="java.lang.Integer">
        select COUNT(*) from course_t
    </select>

    <update id="InsertTeach">
        insert into teach_t
        values (#{cno}, #{cid}, #{tno})
    </update>
    
    <update id="DeleteTeach" parameterType="cn.cuit.exam.bean.Teach">
        delete from teach_t
        where cno  = #{cno} and tno = #{tno} and cid = #{cid}
    </update>

</mapper>