<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuit.exam.mapper.ExamMapper">

    <cache/>

    <select id="getClassList" resultType="cn.cuit.exam.bean.Klass" parameterType="java.lang.String">
        select
            c.cid, mshort, semester, cnt
        FROM class_t c
        JOIN major_t m
        on m.mno = c.mno
        join teach_t t
        on t.cid = c.cid
        where school = #{school} and cno = #{cno}
    </select>

    <update id="updateDay" parameterType="cn.cuit.exam.bean.Exam">
        update exam_t set day = #{day} where cno = #{cno} and cnt = #{cnt};
    </update>

    <update id="insertExam" parameterType="cn.cuit.exam.bean.Exam">
        insert into exam_t (cno, cnt) values (#{cno}, #{cnt});
    </update>

    <select id="getAllExam" resultType="cn.cuit.exam.bean.Exam">
        select * from exam_t;
    </select>

    <select id="getExamByCnoAndCnt" parameterType="cn.cuit.exam.bean.Exam">
        select * from exam_t where cno = #{arg0} and cnt = #{arg1};
    </select>

</mapper>