<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuit.exam.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="cn.cuit.exam.bean.Student">
    <id column="Sno" jdbcType="VARCHAR" property="sno" />
    <result column="Sname" jdbcType="VARCHAR" property="sname" />
    <result column="ClassName" jdbcType="VARCHAR" property="classname" />
  </resultMap>
  <sql id="Base_Column_List">
    Sno, Sname, ClassName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_t
    where Sno = #{sno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from student_t
    where Sno = #{sno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cuit.exam.bean.Student">
    insert into student_t (Sno, Sname, ClassName
      )
    values (#{sno,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cuit.exam.bean.Student">
    insert into student_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sno != null">
        Sno,
      </if>
      <if test="sname != null">
        Sname,
      </if>
      <if test="classname != null">
        ClassName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sno != null">
        #{sno,jdbcType=VARCHAR},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cuit.exam.bean.Student">
    update student_t
    <set>
      <if test="sname != null">
        Sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        ClassName = #{classname,jdbcType=VARCHAR},
      </if>
    </set>
    where Sno = #{sno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cuit.exam.bean.Student">
    update student_t
    set Sname = #{sname,jdbcType=VARCHAR},
      ClassName = #{classname,jdbcType=VARCHAR}
    where Sno = #{sno,jdbcType=VARCHAR}
  </update>
</mapper>