<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuit.exam.mapper.UtilsMapper">

    <select id="selectMajorList" resultType="java.lang.String">
        select mname
        from major_t
        where school = #{arg0}
    </select>
    
    <select id="selectSemesterList" resultType="Integer">
        select distinct semester
        from class_t
    </select>

    <select id="getClassNum" resultType="java.lang.Integer">
        select num
        from class_t c
        join major_t m
        on c.mno = m.mno
        where mshort = #{mshort} and semester = #{semester} and cnt = #{cnt}
    </select>

    <select id="getClassNumByCid" resultType="java.lang.Integer">
        select num
        from class_t c
        where cid = #{arg0}
    </select>

    <select id="getCnoByCoursename" resultType="java.lang.String">
        select cno
        from course_t
        where cname = #{arg0}
    </select>

    <select id="getTnoByTname" resultType="java.lang.String" >
        select tno
        from teacher_t
        where tname = #{arg0}
    </select>

    <select id="getClassId" resultType="java.lang.Integer" >
        select cid
        from class_t c
        join major_t m
        on c.mno = m.mno
        where mshort = #{mshort} and semester = #{semester} and cnt = #{cnt}
    </select>

    <select id="getMajorMnoByMname" resultType="java.lang.String">
        select mno
        from major_t
        where mname = #{arg0}
    </select>

    <select id="getMajorMnoByMshort" resultType="java.lang.String">
        select mno
        from major_t
        where mshort = #{arg0}
    </select>

</mapper>